<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="navbar-fixed-top" th:fragment="header">
<!--navbar navbar-inverse -->
  <header class="header-area">

    <!-- Top Header Area -->
    <div class="top-header">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <!-- Breaking News Area -->
          <div class="col-12 col-sm-8">
            <div class="breaking-news-area">
              <div id="breakingNewsTicker" class="ticker">
                <ul>
                  <li><a id="yiyan" href="#">Hello World!</a></li>
                  <li><a href="#">Hello!</a></li>
                  <li><a href="#">你在干嘛呢？</a></li>
                  <li><a href="#">还不快去学习!</a></li>
                  <li><a href="#">day day up!</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Top Social Area -->
          <div class="col-12 col-sm-4">
            <div class="top-social-area">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
              <!--                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>-->
              <a th:href="@{about-us.html}" href="../static/about-us.html">username</a>
              <a href="#" class="btn subscribe-btn" data-toggle="modal" data-target="#subsModal"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
<!--              th:text="${user.}"-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Logo Area -->
    <div class="logo-area text-center">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <em style="text-align: center;line-height: normal">用户排名</em>
            <ol class="list-inline-item">
              <li th:each="user,stat:${users}">
<!--                th:text="${user.username}"-->
                <div>
                  <span th:text="${stat.count}"></span><span>:  </span>[[${user.username}]]<span>---</span><span>[[${user.email}]]-[[${user.grade}]]</span>
                </div>
              </li>
            </ol>
            <!--                    <a th:href="@{index.html}" href="./index.html" class="original-logo"><img src="img/core-img/" alt=""></a>-->
          </div>
        </div>
      </div>
    </div>

    <!-- Nav Area -->
    <div class="original-nav-area" id="stickyNav">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Classy Menu -->
          <nav class="classy-navbar justify-content-between">

            <!-- Subscribe btn -->
            <div class="subscribe-btn">
              <!--                        <a href="#" class="btn subscribe-btn" data-toggle="modal" data-target="#subsModal">Subscribe</a>-->
            </div>

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu" id="originalNav">
              <!-- close btn -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>

              <!-- Nav Start -->
              <div class="classynav">
                <ul>
                  <li><a href="index.html">首页</a></li>
                  <li><a href="#">个人中心</a>
                    <ul class="dropdown">
                      <li><a href="index.html">Home</a></li>
                      <li><a href="about-us.html">About Us</a></li>
                      <li><a href="single-post.html">Single Post</a></li>
                      <li><a href="contact.html">Contact</a></li>
                      <li><a href="coming-soon.html">Coming Soon</a></li>
                    </ul>
                  </li>
                  <li><a href="#">分类 Catagory</a>
                    <ul class="dropdown">
                      <li><a href="#">Category 1</a></li>
                      <li><a href="#">Catagory 2</a></li>
                      <li><a href="#">Catagory 3</a>
                        <ul class="dropdown">
                          <li><a href="#">Catagory chi 1</a></li>
                          <li><a href="#">Catagory chi 2</a></li>
                          <li><a href="#">Catagory chi 3</a></li>
                          <li><a href="#">Catagory chi 4</a></li>
                          <li><a href="#">Catagory chi 5</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Catagory 1</a></li>
                      <li><a href="#">Catagory 1</a></li>
                    </ul>
                  </li>
                  <li><a href="about-us.html">关于我们</a></li>

                  <li><a href="contact.html">联系我们</a></li>
                </ul>
                <a href="#" class="btn subscribe-btn" data-toggle="modal" data-target="#subsModal">
                  <strong>Log</strong><i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </div>
              <!-- Nav End -->
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>
</body>
</html>